wheel
termcolor
schedule
kittentts @ https://github.com/KittenML/KittenTTS/releases/download/0.8.1/kittentts-0.8.1-py3-none-any.whl
soundfile
prettytable
webdriver_manager
selenium_firefox
selenium
ollama
moviepy==1.0.3
Pillow
yagmail
assemblyai
faster-whisper
srt_equalizer
undetected_chromedriver
platformdirs
requests
beautifulsoup4
pytrends
reportlab
ebooklib
groq
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
